nav {
  position: fixed;
  background: #2f2f2f;
  border: 1px solid #393939;
  display: flex;
  border-radius: 11px;
  justify-content: space-between;
  padding: 7px;
  margin: 10px;
  gap: 40px;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 1200px;
  box-sizing: border-box;
}

nav .logo {
  color: var(--foreground);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}

nav .menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

nav a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  white-space: nowrap;
}

nav .menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: var(--foreground);
  cursor: pointer;
  padding: 0;
}

nav .primary {
  white-space: nowrap;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
      gap: 10px;
      left: 0;
      transform: none;
      width: calc(100% - 20px);
      padding: 10px;
      padding-bottom: 5px !important;
  }

  nav .menu-toggle {
      display: block;
      order: 0;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  nav .menu-toggle svg {
    width: 20px;
    height: 20px;
}

nav .menu-toggle svg path {
  stroke-width: 1.3;
  stroke: white;
}

  nav .primary {
      order: 1;
      margin-left: auto;
  }

  nav .menu {
      order: 2;
      width: 100%;
      transition: max-height 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      max-height: 0;
      overflow: hidden;
  }

  nav .menu.open {
      max-height: 500px;
  }

  nav .menu ul {
      flex-direction: column;
      gap: 8px;
      padding-top: 10px;
      border-top: 1px solid #393939;
      margin-top: 5px;
      transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;
      opacity: 0;
      transform: translateY(-10px);
  }

  nav .menu.open ul {
      opacity: 1;
      transform: translateY(0);
  }

  nav .menu-toggle.open {
      transform: rotate(90deg);
  }
}

@media (max-width: 480px) {
  nav {
      gap: 5px;
  }
  
  nav .logo {
      font-size: 13px;
  }
  
  nav a {
      font-size: 12px;
  }
  
}
