body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    font-size: 1.7rem;
    font-weight: 500;
}
